/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Comic Mono', monospace;
}

/* Style header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2rem;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style sections */
section {
    padding: 40px;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Style portfolio projects */
.project {
    margin-bottom: 40px;
}

.project img {
    width: 500px;
    height: 300px;
}

/* Style contact */
#contact a {
    color: #007bff;
}
